.app-container {
  height: 100%;
}

.title {
  background: rgb(121, 242, 157);
}

.main-side-bar {
  box-shadow: 0 2px 2px -1px rgb(152 162 179 / 30%),
    0 1px 5px -2px rgb(152 162 179 / 30%);
}

.side-nav-item {
  padding: 20px 16px;
}

.euiBreadcrumb {
  text-transform: uppercase;
}
